Repository EngineHub/enginehub-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser html --write --config ./.prettierrc.json, prettier --parser css --write --config ./.prettierrc.json, prettier --parser json --write --config ./.prettierrc.json

Fixed type error
  paste/pages/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: update to new major SchematicWebViewer update (#37)
  golf/next-env.d.ts
  golf/package.json
  paste/package.json
  paste/pages/index.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: bump dependencies and silence vercel
  builds/package.json
  builds/vercel.json
  golf/package.json
  golf/vercel.json
  main-site/package.json
  paste/package.json
  paste/vercel.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

Fix build errors
  builds/next-env.d.ts
  builds/src/builds/index.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: bump dependencies and silence vercel (#38)
  builds/next-env.d.ts
  builds/package.json
  builds/src/builds/index.ts
  builds/vercel.json
  golf/package.json
  golf/vercel.json
  main-site/package.json
  paste/package.json
  paste/vercel.json
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

fix(paste): fixed schematic aspect ratio rendering
  golf/package.json
  golf/src/components/Schematic.tsx
  paste/package.json
  paste/src/views/SchematicComponent.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

fix(paste): fixed schematic aspect ratio rendering (#39)
  golf/package.json
  golf/src/components/Schematic.tsx
  paste/package.json
  paste/src/views/SchematicComponent.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: bump deps
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: bump to gatsby 4 and next 12
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: bump to gatsby 4 and next 12 (#40)
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: bump dependencies
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

Apply changes that Next put on files
  builds/next-env.d.ts
  builds/tsconfig.json
  golf/next-env.d.ts
  golf/tsconfig.json
  paste/next-env.d.ts
  paste/tsconfig.json
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: bump dependencies (#41)
  builds/next-env.d.ts
  builds/package.json
  builds/tsconfig.json
  golf/next-env.d.ts
  golf/package.json
  golf/tsconfig.json
  main-site/package.json
  paste/next-env.d.ts
  paste/package.json
  paste/tsconfig.json
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: show error text on paste fail
  golf/pages/golf/[golfId].tsx
  paste/pages/index.tsx
  paste/src/views/ProfileComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: bump dependencies
  builds/.babelrc
  builds/next.config.js
  builds/package.json
  builds/pages/job/[project]/[build]/index.tsx
  golf/.babelrc
  golf/next.config.js
  golf/package.json
  main-site/package.json
  paste/.babelrc
  paste/next.config.js
  paste/package.json
  paste/src/views/ProfileComponent.tsx
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: switch /builds to ESLint
  builds/.eslintrc.json
  builds/.prettierrc
  builds/.prettierrc.json
  builds/package.json
  builds/pages/_document.tsx
  builds/tslint.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: switch /paste/ to ESLint
  builds/package.json
  paste/.eslintrc.json
  paste/.prettierrc
  paste/.prettierrc.json
  paste/package.json
  paste/pages/index.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: switch /golf to ESLint
  golf/.eslintrc.json
  golf/.prettierrc
  golf/.prettierrc.json
  golf/package.json
  golf/pages/_document.js
  golf/pages/api/get-golf/[golfId].ts
  golf/pages/api/submit-golf.ts
  golf/pages/github-callback.tsx
  golf/pages/golf/[golfId].tsx
  golf/pages/index.tsx
  golf/src/components/Auth.tsx
  golf/src/components/Leaderboard/Leaderboard.tsx
  golf/src/components/Loading.tsx
  golf/src/components/OpenChallenges.tsx
  golf/src/components/Schematic.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: switch /shared to ESLint
  shared/.eslintrc.js
  shared/.prettierrc
  shared/.prettierrc.json
  shared/package.json
  shared/src/components/Button.tsx
  shared/src/components/Container.tsx
  shared/src/components/FileSelector.tsx
  shared/src/components/Navbar.tsx
  shared/src/components/PageHeader.tsx
  shared/src/components/Panel.tsx
  shared/src/components/Seo.tsx
  shared/src/components/Sponsors.tsx
  shared/src/components/Table.tsx
  shared/src/components/WarningBox.tsx
  shared/src/components/grid/Columns2.tsx
  shared/src/components/grid/Row.tsx
  shared/src/components/grid/index.ts
  shared/src/components/sidebar/SidebarNav.tsx
  shared/src/components/text/Label.tsx
  shared/src/hooks/useElementWidth.ts
  shared/src/utils/gtag.ts
  shared/tslint.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: switch /main-site to ESLint
  main-site/.eslintrc.js
  main-site/.prettierrc
  main-site/.prettierrc.json
  main-site/package.json
  main-site/src/components/sidebar/SidebarIcon.tsx
  main-site/src/index.d.ts
  main-site/src/pages/404.tsx
  main-site/tslint.json
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

Remove next plugin from two non-next apps
  main-site/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

Fix golf failing to build
  .nvmrc
  golf/src/components/Auth.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Fix up lintstaged
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc.json
  golf/tslint.json
  package.json
  paste/tslint.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

use per-project lintstage
  .prettierrc
  builds/.lintstagedrc.json
  golf/.lintstagedrc.json
  main-site/.lintstagedrc.json
  main-site/src/pages/documentation.tsx
  paste/.lintstagedrc.json
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

Change WG default branch.
  builds/src/project/types.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: migrate to a modern yarn
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc
  .yarnrc.yml
  package.json
Due: prettier --parser json --write --config ./.prettierrc.json

Finish yarn 3 migration
  .gitignore
  main-site/package.json
  package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

Gatsby allows versions of Webpack to install that don't work with it
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: migrate to a modern yarn version (#43)
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc
  .yarnrc.yml
  builds/package.json
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: update footer text to point people to the issue tracker
  shared/src/components/Footer.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Show branch warning on all non-main branches.
  builds/pages/job/[project]/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: try removing declaration bundler plugin
  shared/package.json
  shared/webpack.config.js
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: try removing declaration bundler plugin (#45)
  shared/package.json
  shared/webpack.config.js
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

Show branch warning on all non-main branches. (#44)
  builds/pages/job/[project]/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: bump deps and fix eslint peer dep warnings
  builds/package.json
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: bump deps and fix eslint peer dep warnings (#46)
  builds/package.json
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

Try this out now that builds aren't broken.
  builds/pages/job/[project]/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Fix branch warning code style. (#47)
  builds/pages/job/[project]/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Path conditions:
  prettier --parser typescript --write --config ./.prettierrc.json: any of: *.{ts,tsx}
  tslint --project ./tsconfig.json --config ./tslint.json --fix: any of: *.{ts,tsx}
  prettier --parser html --write --config ./.prettierrc.json: any of: *.html
  prettier --parser css --write --config ./.prettierrc.json: any of: *.css
  prettier --parser json --write --config ./.prettierrc.json: any of: *.json
