Repository EngineHub/enginehub-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser html --write --config ./.prettierrc.json, prettier --parser css --write --config ./.prettierrc.json, prettier --parser json --write --config ./.prettierrc.json

fix: missed console.log
  main-site/src/components/landing.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix: fixed netlify not showing on main-site 404 page
  main-site/src/pages/404.tsx
  shared/src/components/PageHeader.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: update packages
  builds/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: set WorldGuard lead to wizjany
  main-site/src/pages/worldguard.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

feat: setup routes for pastebin functionality. Functionality still missing
  paste/pages/[id]/index.tsx
  paste/pages/api/documents/[id].ts
  paste/pages/api/paste.ts
  paste/pages/documents/[id].tsx
  paste/serverless.yml
  paste/src/loadPaste.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

feat(paste): make the paste site work
  paste/handler.js
  paste/package.json
  paste/pages/[id]/index.tsx
  paste/pages/_document.js
  paste/pages/api/documents/[id].ts
  paste/pages/api/paste.ts
  paste/pages/index.tsx
  paste/serverless.yml
  paste/src/Gutter.tsx
  paste/src/Layout.tsx
  paste/src/dynamoDb.ts
  paste/src/layout.css
  paste/src/loadPaste.ts
  paste/static/icons/icon-144x144.png
  paste/static/icons/icon-192x192.png
  paste/static/icons/icon-256x256.png
  paste/static/icons/icon-384x384.png
  paste/static/icons/icon-48x48.png
  paste/static/icons/icon-512x512.png
  paste/static/icons/icon-72x72.png
  paste/static/icons/icon-96x96.png
  paste/static/pace-theme.css
  paste/static/pace.min.js
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser css --write --config ./.prettierrc.json, prettier --parser json --write --config ./.prettierrc.json

fix(paste): fixed line overflow and added saving spinner
  paste/pages/[id]/index.tsx
  paste/pages/index.tsx
  paste/src/Gutter.tsx
  paste/src/loadPaste.ts
  shared/src/components/Loader.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix: fixed prefixes in dev mode
  builds/next.config.js
  paste/next.config.js
Due: none

chore: bump serverless-nextjs-plugin in builds
  builds/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

feat: styling of the build page
  builds/pages/_document.js
  builds/pages/job/[project]/[build]/index.tsx
  builds/src/layout.css
  builds/src/project/dynamoDb.ts
  builds/src/project/types.ts
  shared/src/components/Breadcrumbs.tsx
  shared/src/components/InfoBox.tsx
  shared/src/components/PageHeader.tsx
  shared/src/components/Panel.tsx
  shared/src/components/Table.tsx
  shared/src/components/button.tsx
  shared/src/components/grid/columns-3.tsx
  shared/src/components/sponsors.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser css --write --config ./.prettierrc.json

feat: further work on the build page, styled the build index page
  builds/package.json
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/src/BranchWarning.tsx
  builds/src/builds/index.ts
  builds/src/builds/types.ts
  builds/src/project/dynamoDb.ts
  builds/src/project/types.ts
  builds/static/download_icon.png
  shared/src/components/Table.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

feat: get the builds index page almost ready
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/src/BranchButton.tsx
  builds/src/builds/dummyData.ts
  builds/src/builds/index.ts
  builds/src/project/types.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

feat: setup the builds index page and pagination
  builds/package.json
  builds/pages/index.tsx
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/src/builds/index.ts
  builds/src/project/types.ts
  shared/src/components/Loader.tsx
  shared/src/components/Pagination.tsx
  shared/src/components/Table.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: update packages
  builds/package.json
  builds/src/Layout.tsx
  main-site/package.json
  main-site/src/components/Button.tsx
  main-site/src/components/Landing.tsx
  main-site/src/components/Layout.tsx
  main-site/src/components/Link.tsx
  paste/package.json
  paste/src/Header.tsx
  shared/package.json
  shared/src/components/Button.tsx
  shared/src/components/Container.tsx
  shared/src/components/Footer.tsx
  shared/src/components/Jumbotron.tsx
  shared/src/components/Link.tsx
  shared/src/components/Navbar.tsx
  shared/src/components/Seo.tsx
  shared/src/components/Sponsors.tsx
  shared/src/components/grid/Row.tsx
  shared/src/components/text/Label.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: update readme
  README.md
  main-site/src/pages/commandbook.tsx
  main-site/src/pages/commandhelper.tsx
  main-site/src/pages/craftbook.tsx
  main-site/src/pages/worldedit.tsx
  main-site/src/pages/worldguard.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: add builds.yml GitHub Action
  .github/workflows/builds.yml
Due: none

chore: update builds deployer
  .github/workflows/builds.yml
  builds/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: try node 10
  .github/workflows/builds.yml
Due: none

chore: added paste deployer
  .github/workflows/builds_deployer.yml
  .github/workflows/paste_deployer.yml
Due: none

chore: cleanup dev dependencies
  builds/package.json
  main-site/package.json
  paste/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

fix: fix mismatched react versions
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

Pin WG 1.13 branch.
  builds/src/project/types.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

feat: added a button to save pastebin and use client-side routing
  paste/package.json
  paste/pages/index.tsx
  paste/serverless.yml
  paste/src/Header.tsx
  paste/src/Layout.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

fix: use passHref as emotion anchors won't pass by default
  paste/src/Header.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: use next links in builds as well
  builds/pages/index.tsx
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/src/BranchWarning.tsx
  builds/src/Layout.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: fixed builds only working with root of subdirectories
  .github/workflows/builds_deployer.yml
  .github/workflows/paste_deployer.yml
Due: none

fix: properly use next links in the builds site to cache local content
  builds/pages/index.tsx
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/src/BranchWarning.tsx
  builds/src/Layout.tsx
  builds/src/builds/index.ts
  main-site/src/components/Landing.tsx
  shared/src/components/Navbar.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix: prevent paste client-bundle size being 2MB on the view paste page
  paste/pages/[id]/index.tsx
  paste/pages/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: use a more efficient request for build changes
  builds/src/builds/index.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: even more efficient lookups, now one request per page
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/src/builds/dummyData.ts
  builds/src/builds/index.ts
  builds/src/builds/types.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: switch paste to S3 to fix data limits
  paste/package.json
  paste/pages/[id]/index.tsx
  paste/pages/api/paste.ts
  paste/src/dynamoDb.ts
  paste/src/loadPaste.ts
  paste/src/pasteStore.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: use a batch get for users for performance
  README.md
  golf/pages/api/get-golf/[golfId].ts
  golf/src/dynamoDb.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

feat: use the schematicwebviewer package
  golf/package.json
  golf/pages/api/get-golf/[golfId].ts
  golf/src/components/Schematic.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

fix: fixed a few bugs and added deployment
  .github/workflows/golf_deployer.yml
  golf/next.config.js
  golf/package.json
  golf/pages/api/get-golf/[golfId].ts
  golf/pages/api/get-golfs.ts
  golf/pages/golf/[golfId].tsx
  golf/pages/index.tsx
  golf/pages/submit.tsx
  golf/src/components/BrandHeader.tsx
  golf/src/components/Schematic.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

fix: fix a broken version of schematicwebviewer being used
  builds/package.json
  golf/package.json
  golf/src/components/Schematic.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: update dependencies
  .github/workflows/golf_deployer.yml
  builds/package.json
  builds/tsconfig.json
  golf/package.json
  golf/tsconfig.json
  main-site/package.json
  main-site/tsconfig-node.json
  main-site/tsconfig.json
  package.json
  paste/package.json
  paste/tsconfig.json
  shared/package.json
  shared/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

fix(nextjs): fixed nextjs typing issue
  builds/pages/_error.tsx
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  golf/pages/_error.tsx
  golf/pages/api/get-golf/[golfId].ts
  golf/pages/api/get-golfs.ts
  golf/pages/api/github-oauth.ts
  golf/pages/golf/[golfId].tsx
  golf/src/auth.ts
  paste/pages/[id]/index.tsx
  paste/pages/api/documents/[id].ts
  paste/pages/api/paste.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Path conditions:
  prettier --parser typescript --write --config ./.prettierrc.json: any of: *.{ts,tsx}
  tslint --project ./tsconfig.json --config ./tslint.json --fix: any of: *.{ts,tsx}
  prettier --parser html --write --config ./.prettierrc.json: any of: *.html
  prettier --parser css --write --config ./.prettierrc.json: any of: *.css
  prettier --parser json --write --config ./.prettierrc.json: any of: *.json
