Repository EngineHub/enginehub-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser html --write --config ./.prettierrc.json, prettier --parser css --write --config ./.prettierrc.json, prettier --parser json --write --config ./.prettierrc.json

alternate desktop page header style that is more compact
  shared/src/components/PageHeader.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

feat(builds): greatly improve responsiveness (#50)
  builds/package.json
  builds/pages/index.tsx
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/src/BranchButton.tsx
  builds/src/BranchWarning.tsx
  builds/src/Layout.tsx
  builds/src/builds/index.ts
  golf/package.json
  golf/pages/index.tsx
  golf/src/Layout.tsx
  golf/src/components/BrandHeader.tsx
  golf/src/components/OpenChallenges.tsx
  main-site/package.json
  main-site/pages/404.tsx
  main-site/pages/commandbook.tsx
  main-site/pages/commandhelper.tsx
  main-site/pages/craftbook.tsx
  main-site/pages/worldedit.tsx
  main-site/pages/worldguard.tsx
  main-site/src/components/Layout.tsx
  main-site/src/components/ProjectBox.tsx
  package.json
  paste/package.json
  shared/package.json
  shared/src/components/Button.tsx
  shared/src/components/Footer.tsx
  shared/src/components/Link.tsx
  shared/src/components/PageHeader.tsx
  shared/src/components/Sponsors.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: bump deps
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

yarn.lock got modified by precommit
  yarn.lock
Due: none

fix: fix js files not loading properly
  builds/package.json
  golf/package.json
  golf/pages/_app.tsx
  golf/pages/_document.tsx
  main-site/package.json
  paste/package.json
  paste/pages/_app.tsx
  paste/pages/_document.tsx
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

fix(paste): fix some long standing profile css issues
  paste/src/views/ProfileComponent.module.css
  paste/src/views/ProfileComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser css --write --config ./.prettierrc.json

fix(paste): fix long standing report css issues
  paste/src/pasteStore.ts
  paste/src/views/ReportComponent.module.css
  paste/src/views/ReportComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser css --write --config ./.prettierrc.json

chore: substantially simplify configs
  .eslintrc.cjs
  .lintstagedrc.json
  .nvmrc
  .prettierrc
  builds/next.config.js
  builds/tsconfig.json
  golf/.lintstagedrc.json
  golf/.prettierrc
  golf/next.config.js
  golf/tsconfig.json
  main-site/.lintstagedrc.json
  main-site/.prettierrc
  main-site/index.d.ts
  main-site/next.config.js
  main-site/package.json
  main-site/tsconfig.json
  paste/.lintstagedrc.json
  paste/.prettierrc
  paste/next.config.js
  paste/tsconfig.json
  shared/.prettierrc
  shared/package.json
  shared/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: more css module migration work
  builds/pages/_document.tsx
  builds/pages/index.tsx
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/tsconfig.json
  golf/pages/_document.tsx
  golf/pages/golf/[golfId].tsx
  golf/tsconfig.json
  main-site/pages/_document.tsx
  main-site/pages/commandbook.tsx
  main-site/pages/commandhelper.tsx
  main-site/pages/craftbook.tsx
  main-site/pages/worldedit.tsx
  main-site/pages/worldguard.tsx
  main-site/tsconfig.json
  paste/pages/_document.tsx
  paste/tsconfig.json
  shared/src/components/Breadcrumbs.module.css
  shared/src/components/Footer.tsx
  shared/src/components/InfoBox.module.css
  shared/src/components/Link.module.css
  shared/src/components/Link.tsx
  shared/src/components/Panel.module.css
  shared/src/components/Sponsors.module.css
  shared/src/components/Sponsors.tsx
  shared/src/components/index.ts
  shared/src/theme/colors.ts
  shared/src/theme/index.ts
  shared/src/theme/themeInjector.tsx
  shared/tsconfig.json
  tsconfig.json
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser css --write --config ./.prettierrc.json, prettier --parser json --write --config ./.prettierrc.json

chore: remove styled-components from paste
  builds/pages/index.tsx
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/src/BranchButton.module.css
  golf/src/components/OpenChallenges.module.css
  golf/src/components/OpenChallenges.tsx
  golf/src/components/Schematic.tsx
  paste/package.json
  paste/pages/_document.tsx
  paste/pages/index.tsx
  paste/src/IndexComponents.module.css
  paste/src/views/SchematicComponent.module.css
  paste/src/views/SchematicComponent.tsx
  shared/package.json
  shared/src/components/Link.tsx
  shared/src/components/Loader.module.css
  shared/src/components/Loader.tsx
  shared/src/components/Pagination.module.css
  shared/src/components/Pagination.tsx
  shared/src/components/Sponsors.tsx
  shared/src/components/Table.module.css
  shared/src/components/index.ts
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser css --write --config ./.prettierrc.json, prettier --parser json --write --config ./.prettierrc.json

chore: remove styled-components
  builds/next.config.js
  builds/package.json
  builds/pages/_document.tsx
  builds/pages/index.tsx
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/src/Components.module.css
  builds/src/PaddedIcon.module.css
  golf/next.config.js
  golf/package.json
  golf/pages/_document.tsx
  golf/pages/github-callback.tsx
  golf/pages/golf/[golfId].tsx
  golf/pages/index.tsx
  golf/pages/submit.tsx
  golf/src/animations/spin.ts
  golf/src/components/BrandHeader.module.css
  golf/src/components/BrandHeader.tsx
  golf/src/components/GolfPage.module.css
  golf/src/components/Input/Input.module.css
  golf/src/components/Input/Input.tsx
  golf/src/components/Input/TextArea.module.css
  golf/src/components/Input/TextArea.tsx
  golf/src/components/Leaderboard/Leaderboard.module.css
  golf/src/components/Leaderboard/Leaderboard.tsx
  golf/src/components/Loading.module.css
  golf/src/components/Loading.tsx
  golf/src/components/Logo/Logo.module.css
  golf/src/components/Logo/Logo.tsx
  golf/src/components/OpenChallenges.tsx
  golf/src/components/Schematic.module.css
  golf/src/components/Schematic.tsx
  main-site/package.json
  paste/next.config.js
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser css --write --config ./.prettierrc.json, prettier --parser json --write --config ./.prettierrc.json

chore: bump dependencies
  golf/package.json
  paste/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

fix css issue in paste header
  builds/package.json
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  paste/src/pasteStore.ts
  shared/package.json
  shared/src/components/Sponsors.module.css
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser css --write --config ./.prettierrc.json, prettier --parser json --write --config ./.prettierrc.json

chore: bump deps
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-4.0.0.cjs
  .yarnrc.yml
  builds/package.json
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: update to NextJS 14
  builds/package.json
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

fix(paste): fix 404 handling
  paste/pages/[id]/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: update deps
  .husky/pre-commit
  builds/package.json
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: update WorldEdit default branch to 7.3.x
  builds/src/project/types.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: switch download links on the WE homepage to Modrinth
  main-site/pages/worldedit.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: bump deps
  builds/package.json
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: update dependencies
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

fix(paste): dynamically load schematicwebviewer
  .yarn/releases/yarn-4.0.0.cjs
  .yarn/releases/yarn-4.2.2.cjs
  .yarnrc.yml
  package.json
  paste/src/views/SchematicComponent.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

feat: add WorldEditCUI to builds.enginehub.org
  builds/src/project/types.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: update dependencies
  builds/package.json
  builds/src/builds/index.ts
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: bump dependencies
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  builds/package.json
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore(paste): manually check paste file size before uploading
  golf/pages/golf/[golfId].tsx
  paste/pages/index.tsx
  paste/src/pasteStore.ts
  paste/src/types.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: go back to 10mb as google cloud rejects anything larger
  paste/pages/index.tsx
  paste/src/types.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore
  paste/pages/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: fix a typo
  paste/src/pasteStore.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

feat(paste): auto un-gzip .log.gz files in supported browsers
  paste/pages/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore(paste): use newer signed URL API
  paste/pages/[id]/index.tsx
  paste/pages/api/signed_paste.ts
  paste/pages/index.tsx
  paste/src/pasteStore.ts
  paste/src/types.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix: use corsproxy.io
  golf/src/components/Schematic.tsx
  paste/src/views/SchematicComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: update dependencies
  builds/package.json
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

Path conditions:
  prettier --parser typescript --write --config ./.prettierrc.json: any of: *.{ts,tsx}
  tslint --project ./tsconfig.json --config ./tslint.json --fix: any of: *.{ts,tsx}
  prettier --parser html --write --config ./.prettierrc.json: any of: *.html
  prettier --parser css --write --config ./.prettierrc.json: any of: *.css
  prettier --parser json --write --config ./.prettierrc.json: any of: *.json
