Repository EngineHub/enginehub-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser html --write --config ./.prettierrc.json, prettier --parser css --write --config ./.prettierrc.json, prettier --parser json --write --config ./.prettierrc.json

.lintstagedrc.json:

{
    "*.{ts,tsx}": [
        "prettier --parser typescript --write --config ./.prettierrc.json",
        "tslint --project ./tsconfig.json --config ./tslint.json --fix",
        "git add"
    ],
    "*.html": ["prettier --parser html --write --config ./.prettierrc.json", "git add"],
    "*.css": ["prettier --parser css --write --config ./.prettierrc.json", "git add"],
    "*.json": ["prettier --parser json --write --config ./.prettierrc.json", "git add"]
}

Revert the babelrc change
  builds/.babelrc
  builds/babel.config.js
Due: none

fix(builds): Don't remap TC default branch name. (#32)
  builds/src/builds/index.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore(golf): fix golf build
  .github/workflows/golf_deployer.yml
Due: none

chore: stop using withImages
  builds/index.d.ts
  builds/next.config.js
  builds/public/projects/commandbook-logo.svg
  builds/public/projects/commandhelper-logo.svg
  builds/public/projects/craftbook-logo.svg
  builds/public/projects/worldedit-logo.svg
  builds/public/projects/worldguard-logo.svg
  builds/src/project/types.ts
  builds/tsconfig.json
  dispatch.yaml
  paste/next.config.js
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: bump those deps
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: modernise golf config
  golf/next-env.d.ts
  golf/next.config.js
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Start migration to Vercel
  golf/next.config.js
  golf/package.json
  golf/public/static/WorldEdit.png
  golf/public/static/golfball.svg
  golf/public/static/icons/icon-144x144.png
  golf/public/static/icons/icon-192x192.png
  golf/public/static/icons/icon-256x256.png
  golf/public/static/icons/icon-384x384.png
  golf/public/static/icons/icon-48x48.png
  golf/public/static/icons/icon-512x512.png
  golf/public/static/icons/icon-72x72.png
  golf/public/static/icons/icon-96x96.png
  golf/serverless.yml
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

Mgirate to firestore
  golf/next.config.js
  golf/package.json
  golf/pages/404.tsx
  golf/pages/_error.tsx
  golf/pages/api/submit-score.ts
  golf/src/dynamoDb.ts
  golf/src/types/database.ts
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

add a debug node
  golf/src/dynamoDb.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

userId must be a string
  .github/workflows/golf_deployer.yml
  golf/src/dynamoDb.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

It works better if you change the right code
  golf/src/dynamoDb.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Try the deprecated way
  .gitignore
  golf/vercel.json
Due: prettier --parser json --write --config ./.prettierrc.json

setup encrypted gcloud
  golf/pages/api/get-golf/[golfId].ts
  golf/pages/api/get-golfs.ts
  golf/pages/api/github-oauth.ts
  golf/pages/api/submit-golf.ts
  golf/pages/api/submit-score.ts
  golf/pages/golf/[golfId].tsx
  golf/pages/index.tsx
  golf/src/databaseConnector.ts
  golf/src/encryptedSecrets.ts
  golf/vercel.json
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

Format it right
  golf/src/databaseConnector.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

.
  golf/src/databaseConnector.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Actually give it projectId, apparently it needs a different format without that specific env var?
  golf/src/databaseConnector.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Remove csv-parser and bump deps
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

update schematicwebviewer
  golf/package.json
  paste/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

feature(golf): migrate golf to Vercel (#34)
  .github/workflows/golf_deployer.yml
  .gitignore
  builds/package.json
  golf/next.config.js
  golf/package.json
  golf/pages/404.tsx
  golf/pages/_error.tsx
  golf/pages/api/get-golf/[golfId].ts
  golf/pages/api/get-golfs.ts
  golf/pages/api/github-oauth.ts
  golf/pages/api/submit-golf.ts
  golf/pages/api/submit-score.ts
  golf/pages/golf/[golfId].tsx
  golf/pages/index.tsx
  golf/public/static/WorldEdit.png
  golf/public/static/golfball.svg
  golf/public/static/icons/icon-144x144.png
  golf/public/static/icons/icon-192x192.png
  golf/public/static/icons/icon-256x256.png
  golf/public/static/icons/icon-384x384.png
  golf/public/static/icons/icon-48x48.png
  golf/public/static/icons/icon-512x512.png
  golf/public/static/icons/icon-72x72.png
  golf/public/static/icons/icon-96x96.png
  golf/serverless.yml
  golf/src/databaseConnector.ts
  golf/src/dynamoDb.ts
  golf/src/encryptedSecrets.ts
  golf/src/types/database.ts
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore(golf): improve the speed and style
  golf/pages/golf/[golfId].tsx
  golf/pages/index.tsx
  golf/src/components/Logo/Logo.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

😠
  golf/public/static/WorldEdit.png
  golf/public/static/worldedit-logo.svg
  golf/src/components/Logo/Logo.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Remove unused import
  golf/pages/golf/[golfId].tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore(golf): improve the speed and style (#35)
  golf/pages/golf/[golfId].tsx
  golf/pages/index.tsx
  golf/public/static/WorldEdit.png
  golf/public/static/worldedit-logo.svg
  golf/src/components/Logo/Logo.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: update dependencies
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  shared/webpack.config.js
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: update schematicwebviewer
  golf/package.json
  golf/src/components/Schematic.tsx
  paste/package.json
  paste/src/views/SchematicComponent.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: bump dependencies
  builds/package.json
  golf/package.json
  golf/pages/github-callback.tsx
  golf/pages/submit.tsx
  main-site/package.json
  paste/next-env.d.ts
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: bump dependencies (#36)
  builds/package.json
  golf/package.json
  golf/pages/github-callback.tsx
  golf/pages/submit.tsx
  main-site/package.json
  paste/next-env.d.ts
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: add better error handling to paste site
  paste/pages/[id]/index.tsx
  paste/pages/api/documents/[id].ts
  paste/src/loadPaste.ts
  paste/src/pasteStore.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: fixed issue in error handling code
  paste/pages/[id]/index.tsx
  paste/pages/api/documents/[id].ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: post to console
  paste/pages/[id]/index.tsx
  paste/pages/api/documents/[id].ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: add support for decrypted secrets to paste
  golf/src/databaseConnector.ts
  golf/tsconfig.json
  paste/src/pasteStore.ts
  shared/src/utils/encryptedSecrets.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: bump dependencies
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: make dependabot happy
  yarn.lock
Due: none

chore: update some videos on the site
  main-site/src/pages/worldedit.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: update to new major SchematicWebViewer update
  golf/next-env.d.ts
  golf/package.json
  paste/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json
