Repository EngineHub/enginehub-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser html --write --config ./.prettierrc.json, prettier --parser css --write --config ./.prettierrc.json, prettier --parser json --write --config ./.prettierrc.json

fix: fixed a few issues due to LFS and recent paste changes
  .github/workflows/builds_deployer.yml
  .github/workflows/golf_deployer.yml
  .github/workflows/paste_deployer.yml
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  paste/src/views/ReportComponent.tsx
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: bump dependencies
  builds/package.json
  builds/tsconfig.json
  golf/package.json
  golf/tsconfig.json
  main-site/package.json
  main-site/src/pages/worldguard.tsx
  paste/package.json
  paste/tsconfig.json
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

feat(paste): add an endpoint to upload via signed post URL
  paste/pages/api/signed_paste.ts
  paste/pages/index.tsx
  paste/serverless.yml
  paste/src/pasteStore.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: bump deps and minor changes to paster
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  paste/pages/api/documents/[id].ts
  paste/pages/api/paste.ts
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore(builds): replace old tiny download icon with a FontAwesome icon
  builds/pages/job/[project]/[build]/index.tsx
  builds/static/download_icon.png
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix(main-site): fixed docs link in footer being relative
  main-site/src/components/Layout.tsx
  shared/src/components/Footer.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: bump dependencies
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: disable serverless for builds
  builds/next.config.js
  builds/package.json
  builds/serverless.yml
Due: prettier --parser json --write --config ./.prettierrc.json

Test using ISR rather than server side rendering
  builds/pages/404.tsx
  builds/pages/_error.tsx
  builds/pages/index.tsx
  builds/pages/job/[project]/[branch]/[page].tsx
  builds/pages/job/[project]/[branch]/index.tsx
  builds/pages/job/[project]/build/[build]/index.tsx
  builds/pages/job/[project]/build/last-successful/[branch].tsx
  builds/pages/job/[project]/build/last-successful/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Try client side redirects
  builds/pages/job/[project]/index.tsx
  builds/pages/job/[project]/last-successful.tsx
  builds/src/BranchWarning.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Finish migration to ISR
  builds/pages/404.tsx
  builds/pages/index.tsx
  builds/pages/job/[project]/[branch]/index.tsx
  builds/pages/job/[project]/build/[build]/index.tsx
  builds/pages/job/[project]/build/last-successful/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore(main-site): added the netlify and robots.txt plugins
  main-site/gatsby-config.js
  main-site/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

feat(main-site): update the worldguard page to be similar to the worldedit one
  builds/package.json
  golf/package.json
  main-site/gatsby-config.js
  main-site/package.json
  main-site/src/pages/worldguard.tsx
  main-site/static/videos/worldguard_flags_menu.mp4
  main-site/static/videos/worldguard_no_creeper_explode.mp4
  main-site/static/videos/worldguard_no_tnt.mp4
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore(paste): improve performance of paste rendering and profile rendering
  paste/pages/[id]/index.tsx
  paste/src/views/ProfileComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore(paste): improve performance of paste rendering and profile rendering (#20)
  paste/pages/[id]/index.tsx
  paste/src/views/ProfileComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore(golf): significant performance gains
  builds/package.json
  golf/package.json
  golf/pages/api/get-golf/[golfId].ts
  golf/pages/golf/[golfId].tsx
  golf/pages/index.tsx
  golf/pages/submit.tsx
  golf/src/Layout.tsx
  golf/src/components/Auth.tsx
  golf/src/components/OpenChallenges.tsx
  golf/src/components/Schematic.tsx
  golf/src/dynamoDb.ts
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore(golf): significant performance gains (#21)
  builds/package.json
  golf/package.json
  golf/pages/api/get-golf/[golfId].ts
  golf/pages/golf/[golfId].tsx
  golf/pages/index.tsx
  golf/pages/submit.tsx
  golf/src/Layout.tsx
  golf/src/components/Auth.tsx
  golf/src/components/OpenChallenges.tsx
  golf/src/components/Schematic.tsx
  golf/src/dynamoDb.ts
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

feat(sponsors): show sponsor button in navbar
  shared/src/components/Navbar.tsx
  shared/src/components/Sponsors.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Also add sponsor info to footer
  shared/src/components/Footer.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Rename
  shared/src/components/Footer.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

feat(sponsors): show sponsor button in navbar (#22)
  shared/src/components/Footer.tsx
  shared/src/components/Navbar.tsx
  shared/src/components/Sponsors.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Try forcing it to not use 16.8.0
  package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: bump dependencies (#23)
  builds/package.json
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: bump deps
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

Work on migrating to GAE. Still a few road blocks
  paste/.gcloudignore
  paste/app.yaml
  paste/handler.js
  paste/next.config.js
  paste/package.json
  paste/pages/[id]/index.tsx
  paste/pages/index.tsx
  paste/serverless.yml
  paste/src/pasteStore.ts
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

Fully migrate to GAE
  dispatch.yaml
  paste/cors.json
  paste/package.json
  paste/pages/[id]/index.tsx
  paste/src/pasteStore.ts
  shared/src/components/Loader.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

Update deployment
  .github/workflows/paste_deployer.yml
Due: none

chore(paste): migrate to Google App Engine (#24)
  .github/workflows/paste_deployer.yml
  dispatch.yaml
  paste/.gcloudignore
  paste/app.yaml
  paste/cors.json
  paste/handler.js
  paste/next.config.js
  paste/package.json
  paste/pages/[id]/index.tsx
  paste/pages/index.tsx
  paste/serverless.yml
  paste/src/pasteStore.ts
  shared/src/components/Loader.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

fix(ci): fixed yaml issues
  .github/workflows/paste_deployer.yml
Due: none

chore(ci): fixed ci not building paste
  .github/workflows/paste_deployer.yml
  paste/package.json
Due: prettier --parser json --write --config ./.prettierrc.json

chore(builds): migrate builds to gae
  .github/workflows/builds_deployer.yml
  .github/workflows/paste_deployer.yml
  builds/.gcloudignore
  builds/app.yaml
  builds/next.config.js
  builds/package.json
  builds/pages/index.tsx
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/serverless.yml
  dispatch.yaml
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

Update GAE setup to support caching and basic ISR
  .gitignore
  builds/.gcloudignore
  builds/app.yaml
  builds/next.config.js
  builds/package.json
  builds/pages/404.tsx
  builds/pages/_error.tsx
  builds/pages/index.tsx
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/public/static/icons/icon-144x144.png
  builds/public/static/icons/icon-192x192.png
  builds/public/static/icons/icon-256x256.png
  builds/public/static/icons/icon-384x384.png
  builds/public/static/icons/icon-48x48.png
  builds/public/static/icons/icon-512x512.png
  builds/public/static/icons/icon-72x72.png
  builds/public/static/icons/icon-96x96.png
  golf/package.json
  main-site/package.json
  paste/.gcloudignore
  paste/app.yaml
  paste/next.config.js
  paste/package.json
  paste/pages/[id]/index.tsx
  paste/public/static/icons/icon-144x144.png
  paste/public/static/icons/icon-192x192.png
  paste/public/static/icons/icon-256x256.png
  paste/public/static/icons/icon-384x384.png
  paste/public/static/icons/icon-48x48.png
  paste/public/static/icons/icon-512x512.png
  paste/public/static/icons/icon-72x72.png
  paste/public/static/icons/icon-96x96.png
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore(builds): migrate builds to gae (#25)
  .github/workflows/builds_deployer.yml
  .github/workflows/paste_deployer.yml
  .gitignore
  builds/.gcloudignore
  builds/app.yaml
  builds/next.config.js
  builds/package.json
  builds/pages/404.tsx
  builds/pages/_error.tsx
  builds/pages/index.tsx
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/public/static/icons/icon-144x144.png
  builds/public/static/icons/icon-192x192.png
  builds/public/static/icons/icon-256x256.png
  builds/public/static/icons/icon-384x384.png
  builds/public/static/icons/icon-48x48.png
  builds/public/static/icons/icon-512x512.png
  builds/public/static/icons/icon-72x72.png
  builds/public/static/icons/icon-96x96.png
  builds/serverless.yml
  dispatch.yaml
  golf/package.json
  main-site/package.json
  paste/next.config.js
  paste/package.json
  paste/pages/[id]/index.tsx
  paste/public/static/icons/icon-144x144.png
  paste/public/static/icons/icon-192x192.png
  paste/public/static/icons/icon-256x256.png
  paste/public/static/icons/icon-384x384.png
  paste/public/static/icons/icon-48x48.png
  paste/public/static/icons/icon-512x512.png
  paste/public/static/icons/icon-72x72.png
  paste/public/static/icons/icon-96x96.png
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

fix(ci): �‍♀️
  .github/workflows/builds_deployer.yml
Due: none

chore(builds): use a redirect for last-successful to cache build pages
  builds/.gcloudignore
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/last-successful.tsx
  golf/package.json
  main-site/package.json
  paste/.gcloudignore
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore(builds): few optimisations for the way builds works now
  builds/package.json
  builds/pages/_app.tsx
  builds/pages/_document.tsx
  builds/pages/index.tsx
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/pages/job/[project]/last-successful.tsx
  golf/package.json
  main-site/package.json
  paste/package.json
  paste/pages/[id]/index.tsx
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

Path conditions:
  prettier --parser typescript --write --config ./.prettierrc.json: any of: *.{ts,tsx}
  tslint --project ./tsconfig.json --config ./tslint.json --fix: any of: *.{ts,tsx}
  prettier --parser html --write --config ./.prettierrc.json: any of: *.html
  prettier --parser css --write --config ./.prettierrc.json: any of: *.css
  prettier --parser json --write --config ./.prettierrc.json: any of: *.json
