Repository EngineHub/enginehub-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser html --write --config ./.prettierrc.json, prettier --parser css --write --config ./.prettierrc.json, prettier --parser json --write --config ./.prettierrc.json

.lintstagedrc.json:

{
    "*.{ts,tsx}": [
        "prettier --parser typescript --write --config ./.prettierrc.json",
        "tslint --project ./tsconfig.json --config ./tslint.json --fix",
        "git add"
    ],
    "*.html": ["prettier --parser html --write --config ./.prettierrc.json", "git add"],
    "*.css": ["prettier --parser css --write --config ./.prettierrc.json", "git add"],
    "*.json": ["prettier --parser json --write --config ./.prettierrc.json", "git add"]
}

fix: fixed deployment
  builds/next.config.js
  golf/next.config.js
  paste/next.config.js
Due: none

fix: fixed other build issues
  .github/workflows/builds_deployer.yml
  .github/workflows/golf_deployer.yml
  .github/workflows/paste_deployer.yml
  builds/next.config.js
  builds/package.json
  golf/next.config.js
  golf/package.json
  golf/src/components/Auth.tsx
  main-site/package.json
  package.json
  paste/next.config.js
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

fix: typo
  golf/src/components/Auth.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix(golf): fixed golf page not being mobile responsive
  golf/pages/golf/[golfId].tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix(builds): remove temporary teamcity bug workaround
  builds/pages/index.tsx
  builds/src/builds/index.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Label the release pages as 'stable', not 'latest'
  main-site/src/pages/commandbook.tsx
  main-site/src/pages/craftbook.tsx
  main-site/src/pages/worldedit.tsx
  main-site/src/pages/worldguard.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore(website): label the release pages as 'stable', not 'latest' (#14)
  main-site/src/pages/commandbook.tsx
  main-site/src/pages/craftbook.tsx
  main-site/src/pages/worldedit.tsx
  main-site/src/pages/worldguard.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore(builds): change craftbook pinned branches
  builds/src/project/types.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix(paste): fixed 404 pastes causing a 500 error
  paste/pages/api/documents/[id].ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: bump dependencies
  builds/package.json
  golf/package.json
  main-site/package.json
  main-site/src/components/Landing.tsx
  main-site/src/components/sidebar/SidebarIcon.tsx
  paste/package.json
  paste/pages/[id]/index.tsx
  paste/pages/index.tsx
  paste/src/Header.tsx
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore(builds): change WG pinned branches
  builds/src/project/types.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix(main): Correct CraftBook build branch links.
  main-site/src/pages/craftbook.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix(main): Correct CraftBook build branch links. (#17)
  main-site/src/pages/craftbook.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Add Drag-n-Drop to paste, restyle paste
  paste/pages/index.tsx
  paste/src/Gutter.tsx
  paste/src/Layout.tsx
  paste/src/dragAndDrop.ts
  paste/src/layout.css
  paste/src/views/PasteComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser css --write --config ./.prettierrc.json

Add Drag-n-Drop to paste, restyle paste (#18)
  paste/pages/index.tsx
  paste/src/Gutter.tsx
  paste/src/Layout.tsx
  paste/src/dragAndDrop.ts
  paste/src/layout.css
  paste/src/views/PasteComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser css --write --config ./.prettierrc.json

Propagate changes in content into event handlers
  paste/pages/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Attempt at new buttons
  shared/package.json
  shared/src/components/Button.tsx
  shared/src/theme/colors.ts
  shared/src/theme/index.ts
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

Update other pages (other than worldedit) to new header design
  main-site/src/pages/commandbook.tsx
  main-site/src/pages/commandhelper.tsx
  main-site/src/pages/craftbook.tsx
  main-site/src/pages/worldedit.tsx
  main-site/src/pages/worldguard.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

h1
  main-site/src/pages/worldedit.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Initial test of new design
  builds/package.json
  golf/package.json
  main-site/gatsby-config.js
  main-site/package.json
  main-site/src/images/projects/headers/commandbook-header.png
  main-site/src/images/projects/headers/commandhelper-header.png
  main-site/src/images/projects/headers/craftbook-header.png
  main-site/src/images/projects/headers/worldedit-header.png
  main-site/src/images/projects/headers/worldguard-header.png
  main-site/src/pages/worldedit.tsx
  paste/package.json
  shared/package.json
  shared/src/components/Jumbotron.tsx
  shared/src/components/text/SectionHeading.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

Minor tweaks to the design
  main-site/src/pages/commandbook.tsx
  main-site/src/pages/commandhelper.tsx
  main-site/src/pages/craftbook.tsx
  main-site/src/pages/worldedit.tsx
  main-site/src/pages/worldguard.tsx
  shared/src/components/Link.tsx
  shared/src/components/Navbar.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Update gray button colours
  shared/src/theme/colors.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Horizontal nav test
  main-site/src/pages/worldedit.tsx
  shared/src/components/Container.tsx
  shared/src/components/HorizontalNav.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Tweak colour and button radius
  shared/src/components/Button.tsx
  shared/src/theme/colors.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Bump deps
  .gitignore
  builds/package.json
  golf/package.json
  main-site/.lfsconfig
  main-site/gatsby-config.js
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

Typo
  main-site/gatsby-config.js
Due: none

Fixed code errors with migration
  main-site/src/components/Button.tsx
  main-site/src/components/Layout.tsx
  main-site/src/components/Link.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Use SVGs for high quality
  main-site/gatsby-config.js
  main-site/package.json
  main-site/src/components/PlatformBanner.tsx
  main-site/src/components/ProjectBox.tsx
  main-site/src/images/projects/headers/commandbook-header.png
  main-site/src/images/projects/headers/commandbook-header.svg
  main-site/src/images/projects/headers/commandhelper-header.png
  main-site/src/images/projects/headers/commandhelper-header.svg
  main-site/src/images/projects/headers/craftbook-header.png
  main-site/src/images/projects/headers/craftbook-header.svg
  main-site/src/images/projects/headers/worldedit-header.png
  main-site/src/images/projects/headers/worldedit-header.svg
  main-site/src/images/projects/headers/worldguard-header.png
  main-site/src/images/projects/headers/worldguard-header.svg
  main-site/src/images/projects/logo/commandbook-logo.svg
  main-site/src/images/projects/logo/commandhelper-logo.svg
  main-site/src/images/projects/logo/craftbook-logo.svg
  main-site/src/images/projects/logo/worldedit-logo.svg
  main-site/src/images/projects/logo/worldguard-logo.svg
  main-site/src/index.d.ts
  main-site/src/pages/commandbook.tsx
  main-site/src/pages/commandhelper.tsx
  main-site/src/pages/craftbook.tsx
  main-site/src/pages/index.tsx
  main-site/src/pages/worldedit.tsx
  main-site/src/pages/worldguard.tsx
  main-site/tsconfig.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

Remove the netlify lfs stuff
  main-site/.lfsconfig
Due: none

Finish main stage of redesign
  main-site/package.json
  main-site/src/pages/commandbook.tsx
  main-site/src/pages/commandhelper.tsx
  main-site/src/pages/craftbook.tsx
  main-site/src/pages/worldedit.tsx
  main-site/src/pages/worldguard.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

Bump dependencies
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

Improve mobile design
  main-site/src/components/PlatformBanner.tsx
  shared/src/components/AlignedContent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Finish WE redesign
  main-site/src/pages/worldedit.tsx
  main-site/static/videos/worldedit_copy_paste.mp4
  main-site/static/videos/worldedit_gen_deform.mp4
  shared/src/components/AlignedContent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Few very minor styling fixes
  main-site/src/pages/worldedit.tsx
  shared/src/components/HorizontalNav.tsx
  shared/src/components/Jumbotron.tsx
  shared/src/components/Sponsors.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Consistent link styling
  main-site/src/components/ProjectBox.tsx
  shared/src/components/Footer.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Few more improvements to images around the place
  builds/src/images/commandbook-icon.png
  builds/src/images/commandbook-logo.svg
  builds/src/images/commandhelper-icon.png
  builds/src/images/commandhelper-logo.svg
  builds/src/images/craftbook-icon.png
  builds/src/images/craftbook-logo.svg
  builds/src/images/worldedit-icon.png
  builds/src/images/worldedit-logo.svg
  builds/src/images/worldguard-icon.png
  builds/src/images/worldguard-logo.svg
  builds/src/project/types.ts
  main-site/src/components/PlatformBanner.tsx
  main-site/src/images/enginehub-no-background.svg
  main-site/src/images/projects/commandbook-icon.png
  main-site/src/images/projects/commandhelper-icon.png
  main-site/src/images/projects/craftbook-icon.png
  main-site/src/images/projects/playblock-icon.png
  main-site/src/images/projects/worldedit-icon.png
  main-site/src/images/projects/worldguard-icon.png
  main-site/src/pages/commandbook.tsx
  main-site/src/pages/commandhelper.tsx
  main-site/src/pages/craftbook.tsx
  main-site/src/pages/documentation.tsx
  main-site/src/pages/worldedit.tsx
  main-site/src/pages/worldguard.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Switch to Apex as a sponsor slot
  main-site/static/images/apex.svg
  shared/src/components/Sponsors.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

bump deps
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json
