Repository EngineHub/enginehub-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser html --write --config ./.prettierrc.json, prettier --parser css --write --config ./.prettierrc.json, prettier --parser json --write --config ./.prettierrc.json

chore: bump to React 18
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: bump deps
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  builds/package.json
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: bump deps
  builds/package.json
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  shared/src/components/AlignedContent.tsx
  shared/src/components/Breadcrumbs.tsx
  shared/src/components/Navbar.tsx
  shared/src/components/PageHeader.tsx
  shared/src/utils/LinkProvider.tsx
  shared/webpack.config.js
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: improve webpack setup
  shared/package.json
  shared/webpack.config.js
Due: prettier --parser json --write --config ./.prettierrc.json

chore: bump deps
  builds/.eslintrc.js
  builds/.eslintrc.json
  builds/package.json
  golf/.eslintrc.js
  golf/.eslintrc.json
  golf/package.json
  golf/src/components/Auth.tsx
  main-site/package.json
  package.json
  paste/.eslintrc.js
  paste/.eslintrc.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: add link to schematic viewer page
  paste/pages/index.tsx
  paste/src/views/SchematicComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: lazily-load various paste render types
  paste/pages/[id]/index.tsx
  paste/pages/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: bump schematicjs
  paste/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: bump schematicwebviewer
  golf/package.json
  paste/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: bump schemwebviewer
  golf/package.json
  paste/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

fix(builds): show default branch name rather than <default>
  builds/src/builds/index.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore(paste): improve cors setup
  paste/cors.json
  paste/next.config.js
Due: prettier --parser json --write --config ./.prettierrc.json

chore(paste): add rewrite too
  paste/next.config.js
Due: none

fix(build): fixed a few builds.eh.org issues
  .gitignore
  builds/package.json
  builds/pages/index.tsx
  builds/pages/job/[project]/[build]/index.tsx
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

fix(golf): fixed re-render loop on golf
  golf/src/components/Leaderboard/Leaderboard.tsx
  golf/src/components/Schematic.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore(golf): stabilise sign in flow
  golf/src/components/Auth.tsx
  golf/src/components/Schematic.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: bump deps
  builds/package.json
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: remove patch-package
  package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: ditch webpack for internal library compile
  main-site/package.json
  shared/package.json
  shared/webpack.config.js
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: fixed some minor issues
  main-site/pages/index.tsx
  main-site/src/components/Landing.tsx
  main-site/src/components/ProjectBox.tsx
  shared/index.js
  shared/package.json
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: make main-site silent on vercel
  main-site/vercel.json
Due: prettier --parser json --write --config ./.prettierrc.json

fix(main-site): don't blur in the landing image
  main-site/src/components/Landing.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: bump deps
  builds/package.json
  golf/package.json
  main-site/.eslintrc.js
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore(main-site): add favicon for main-site
  main-site/public/icons/icon-144x144.png
  main-site/public/icons/icon-192x192.png
  main-site/public/icons/icon-256x256.png
  main-site/public/icons/icon-384x384.png
  main-site/public/icons/icon-48x48.png
  main-site/public/icons/icon-512x512.png
  main-site/public/icons/icon-72x72.png
  main-site/public/icons/icon-96x96.png
Due: none

chore: bump nextjs
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: move icons to static dir
  main-site/public/static/icons/icon-144x144.png
  main-site/public/static/icons/icon-192x192.png
  main-site/public/static/icons/icon-256x256.png
  main-site/public/static/icons/icon-384x384.png
  main-site/public/static/icons/icon-48x48.png
  main-site/public/static/icons/icon-512x512.png
  main-site/public/static/icons/icon-72x72.png
  main-site/public/static/icons/icon-96x96.png
Due: none

chore: remove beastnode mentions
  builds/src/project/types.ts
  main-site/pages/craftbook.tsx
  shared/src/components/Sponsors.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: bump to Next 13
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.4.cjs
  .yarnrc.yml
  builds/package.json
  builds/pages/index.tsx
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/src/BranchWarning.tsx
  builds/src/Layout.tsx
  golf/package.json
  golf/pages/index.tsx
  golf/src/Layout.tsx
  golf/src/components/Auth.tsx
  golf/src/components/BrandHeader.tsx
  golf/src/components/OpenChallenges.tsx
  main-site/package.json
  main-site/pages/404.tsx
  main-site/pages/commandbook.tsx
  main-site/pages/commandhelper.tsx
  main-site/pages/craftbook.tsx
  main-site/pages/worldedit.tsx
  main-site/pages/worldguard.tsx
  main-site/src/components/Landing.tsx
  main-site/src/components/Layout.tsx
  main-site/src/components/PlatformBanner.tsx
  main-site/src/components/ProjectBox.tsx
  main-site/src/components/sidebar/SidebarIcon.tsx
  main-site/tsconfig.json
  package.json
  paste/package.json
  paste/src/Header.tsx
  paste/src/Layout.tsx
  shared/package.json
  shared/src/components/AlignedContent.tsx
  shared/src/components/Breadcrumbs.tsx
  shared/src/components/Navbar.tsx
  shared/src/components/Pagination.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: update nextjs
  .yarn/releases/yarn-3.2.4.cjs
  .yarn/releases/yarn-3.3.1.cjs
  .yarnrc.yml
  builds/package.json
  builds/pages/job/[project]/index.tsx
  builds/src/builds/index.ts
  golf/package.json
  main-site/package.json
  main-site/src/components/Landing.tsx
  main-site/src/components/PlatformBanner.tsx
  package.json
  paste/package.json
  paste/src/Header.tsx
  shared/package.json
  shared/src/components/Navbar.tsx
  shared/src/components/Pagination.tsx
  shared/src/components/Table.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: few tweaks to WE Golf
  .eslintrc.js
  builds/package.json
  golf/package.json
  golf/pages/golf/[golfId].tsx
  golf/pages/submit.tsx
  golf/src/components/Auth.tsx
  golf/src/components/Schematic.tsx
  golf/src/databaseConnector.ts
  main-site/package.json
  package.json
  paste/package.json
  paste/src/views/SchematicComponent.tsx
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: bump dependencies
  .eslintrc.js
  .yarn/releases/yarn-3.3.1.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc.yml
  builds/package.json
  builds/tsconfig.json
  golf/package.json
  golf/src/components/Auth.tsx
  golf/src/databaseConnector.ts
  golf/tsconfig.json
  main-site/package.json
  main-site/src/components/Layout.tsx
  main-site/src/components/ProjectBox.tsx
  main-site/tsconfig.json
  package.json
  paste/package.json
  paste/pages/api/signed_paste.ts
  paste/src/views/ProfileComponent.tsx
  paste/tsconfig.json
  shared/package.json
  shared/src/components/Sponsors.tsx
  tsconfig.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

fix: fix gtag typings
  shared/src/utils/gtag.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: bump dependencies for Spongev3 schematic support
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

feat(builds): greatly improve responsiveness
  builds/package.json
  builds/pages/job/[project]/index.tsx
  builds/src/BranchButton.tsx
  builds/src/Layout.tsx
  builds/src/builds/index.ts
  golf/package.json
  golf/src/Layout.tsx
  main-site/package.json
  main-site/src/components/Layout.tsx
  package.json
  paste/package.json
  shared/package.json
  shared/src/components/Footer.tsx
  shared/src/components/PageHeader.tsx
  shared/src/components/Sponsors.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

only centre text with icons
  shared/src/components/PageHeader.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

cleanup link usage
  builds/pages/index.tsx
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/src/BranchButton.tsx
  builds/src/BranchWarning.tsx
  golf/pages/index.tsx
  golf/src/components/BrandHeader.tsx
  golf/src/components/OpenChallenges.tsx
  main-site/pages/404.tsx
  main-site/pages/commandbook.tsx
  main-site/pages/commandhelper.tsx
  main-site/pages/craftbook.tsx
  main-site/pages/worldedit.tsx
  main-site/pages/worldguard.tsx
  main-site/src/components/ProjectBox.tsx
  shared/src/components/Button.tsx
  shared/src/components/Footer.tsx
  shared/src/components/Link.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Path conditions:
  prettier --parser typescript --write --config ./.prettierrc.json: any of: *.{ts,tsx}
  tslint --project ./tsconfig.json --config ./tslint.json --fix: any of: *.{ts,tsx}
  prettier --parser html --write --config ./.prettierrc.json: any of: *.html
  prettier --parser css --write --config ./.prettierrc.json: any of: *.css
  prettier --parser json --write --config ./.prettierrc.json: any of: *.json
