Repository EngineHub/enginehub-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser html --write --config ./.prettierrc.json, prettier --parser css --write --config ./.prettierrc.json, prettier --parser json --write --config ./.prettierrc.json

fix(builds): fixed typo breaking build
  builds/pages/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

feat(main-site): add javadoc links
  main-site/src/pages/documentation.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore(main-site): remove the fabric and forge javadoc links
  main-site/src/pages/documentation.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: put some limits on the instance counts
  builds/app.yaml
  paste/app.yaml
Due: none

chore: bump dependencies
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore(paste): use a proper statically rendered 404 page
  paste/pages/404.tsx
  paste/pages/[id]/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix: clean up and fix the link provider system
  builds/pages/index.tsx
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/src/BranchWarning.tsx
  builds/src/Layout.tsx
  golf/src/Layout.tsx
  golf/src/components/BrandHeader.tsx
  golf/src/components/OpenChallenges.tsx
  main-site/src/components/Landing.tsx
  main-site/src/components/Layout.tsx
  paste/src/Header.tsx
  shared/src/components/Footer.tsx
  shared/src/components/Navbar.tsx
  shared/src/components/Pagination.tsx
  shared/src/components/Sponsors.tsx
  shared/src/utils/LinkProvider.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix(paste): fixed legacy paste not providing correct url
  builds/package.json
  builds/pages/job/[project]/last-successful.tsx
  golf/package.json
  main-site/package.json
  paste/package.json
  paste/src/pasteStore.ts
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

feat(paste): add a schematic renderer to pastebin
  paste/package.json
  paste/pages/[id]/index.tsx
  paste/src/loadPaste.ts
  paste/src/views/SchematicComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: bump deps
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

fix(paste): fix a few minor issues relating to resizing of schematics
  paste/src/views/SchematicComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore(paste): display sponsor at bottom
  paste/pages/404.tsx
  paste/pages/[id]/index.tsx
  paste/pages/index.tsx
  paste/src/Layout.tsx
  paste/src/views/SchematicComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Move to header
  paste/src/Header.tsx
  paste/src/Layout.tsx
  shared/src/components/Sponsors.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore(paste): display sponsor at bottom (#26)
  paste/pages/404.tsx
  paste/pages/[id]/index.tsx
  paste/pages/index.tsx
  paste/src/Header.tsx
  paste/src/Layout.tsx
  paste/src/views/SchematicComponent.tsx
  shared/src/components/Sponsors.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix(paste): fixed scroll on x axis in pastebin
  paste/src/Layout.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix(paste): fixed a few minor visual issues
  paste/src/Header.tsx
  paste/src/views/SchematicComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix(paste): fix scroll bar showing when unnecessary
  paste/src/Layout.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore(paste): improve description for schem pastes
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  paste/pages/[id]/index.tsx
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

Make report vertical scrollbar work again
  paste/src/views/ReportComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Make report vertical scrollbar work again (#27)
  paste/src/views/ReportComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

feat: add gh sponsors to the sponsor carousel
  shared/src/components/Sponsors.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix: fixed build
  builds/next.config.js
  paste/next.config.js
  shared/package.json
  shared/src/index.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

Revert "fix: fixed build"
  builds/next.config.js
  paste/next.config.js
  shared/package.json
  shared/src/index.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

Revert "chore: bump dependencies"
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

feat: add gh sponsors to the sponsor carousel (#28)
  shared/src/components/Sponsors.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

feat(paste): allow more access to metadata, and make it more functional
  paste/pages/[id]/index.tsx
  paste/pages/api/documents/[id].ts
  paste/pages/api/paste.ts
  paste/pages/api/signed_paste.ts
  paste/src/loadPaste.ts
  paste/src/pasteStore.ts
  paste/src/types.ts
  paste/src/views/ProfileComponent.tsx
  paste/src/views/ReportComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

feat(paste): allow more access to metadata, and make it more functional (#29)
  paste/pages/[id]/index.tsx
  paste/pages/api/documents/[id].ts
  paste/pages/api/paste.ts
  paste/pages/api/signed_paste.ts
  paste/src/loadPaste.ts
  paste/src/pasteStore.ts
  paste/src/types.ts
  paste/src/views/ProfileComponent.tsx
  paste/src/views/ReportComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore(sponsor): improve the sponsor display for gh-sponsors
  shared/src/components/Sponsors.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Work on experimental dark theme support, currently paste is only one that does it well
  builds/pages/_document.tsx
  builds/src/Layout.tsx
  golf/pages/_document.js
  golf/src/Layout.tsx
  main-site/src/components/Layout.tsx
  paste/package.json
  paste/pages/_document.js
  paste/src/Gutter.tsx
  paste/src/Header.tsx
  paste/src/Layout.tsx
  paste/src/views/PasteComponent.tsx
  paste/src/views/SchematicComponent.tsx
  shared/src/components/Button.tsx
  shared/src/components/Link.tsx
  shared/src/components/Navbar.tsx
  shared/src/components/Sponsors.tsx
  shared/src/theme/colors.ts
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: bump dependencies
  builds/package.json
  golf/package.json
  golf/src/components/Schematic.tsx
  main-site/package.json
  paste/package.json
  paste/src/views/SchematicComponent.tsx
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

fix: use enginehub address for corsanywhere
  golf/src/components/Schematic.tsx
  paste/src/views/SchematicComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix: apache is awful, so don't use the reverse proxy
  golf/src/components/Schematic.tsx
  paste/src/views/SchematicComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix: nothing wants to work for me tonight
  golf/src/components/Schematic.tsx
  paste/src/views/SchematicComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: bump dependencies
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: bump dependencies
  golf/package.json
  paste/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

Path conditions:
  prettier --parser typescript --write --config ./.prettierrc.json: any of: *.{ts,tsx}
  tslint --project ./tsconfig.json --config ./tslint.json --fix: any of: *.{ts,tsx}
  prettier --parser html --write --config ./.prettierrc.json: any of: *.html
  prettier --parser css --write --config ./.prettierrc.json: any of: *.css
  prettier --parser json --write --config ./.prettierrc.json: any of: *.json
