Repository EngineHub/enginehub-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc, prettier --parser html --write --config ./.prettierrc, prettier --parser css --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

.lintstagedrc.json:

{
    "*.{ts,tsx,js,cjs,mjs}": [
        "eslint --cache --config eslint.config.js --fix",
        "prettier --parser typescript --write --config ./.prettierrc"
    ],
    "*.html": ["prettier --parser html --write --config ./.prettierrc"],
    "*.css": ["prettier --parser css --write --config ./.prettierrc"],
    "*.json": ["prettier --parser json --write --config ./.prettierrc"]
}

fix(golf): fix a few golf type errors
  golf/src/components/Schematic.tsx
  golf/src/databaseConnector.ts
  tsconfig.json
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

fix(paste): use a v2 route for new signed paste api
  paste/pages/api/documents/[id].ts
  paste/pages/api/signed_paste_v2.ts
  paste/pages/index.tsx
  paste/src/dragAndDrop.ts
  paste/src/pasteStore.ts
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc

chore: add cors headers for the new v2 route
  paste/next.config.js
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc

chore: lower size of some video assets
  main-site/public/videos/worldedit_brushes.mp4
  main-site/public/videos/worldedit_copy_paste.mp4
Due: none

chore: update cors proxy address
  .yarn/releases/yarn-4.3.1.cjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  builds/package.json
  golf/package.json
  golf/pages/index.tsx
  golf/src/components/Schematic.tsx
  main-site/package.json
  package.json
  paste/package.json
  paste/src/views/SchematicComponent.tsx
  shared/package.json
  yarn.lock
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

chore: fix a typo in URL name
  golf/src/components/Schematic.tsx
  paste/src/views/SchematicComponent.tsx
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc

chore: use outlined header logo variants where available
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  main-site/src/images/projects/headers/craftbook-header.svg
  main-site/src/images/projects/headers/worldedit-header.svg
  main-site/src/images/projects/headers/worldguard-header.svg
  package.json
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

chore: cleanup a few dependencies
  builds/package.json
  golf/package.json
  golf/pages/api/github-oauth.ts
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

chore: update React and Next
  builds/next-env.d.ts
  builds/package.json
  builds/src/builds/index.ts
  eslint.config.js
  golf/package.json
  golf/pages/golf/[golfId].tsx
  golf/pages/submit.tsx
  main-site/package.json
  main-site/pages/commandbook.tsx
  main-site/pages/commandhelper.tsx
  main-site/pages/craftbook.tsx
  main-site/pages/documentation.tsx
  main-site/pages/worldedit.tsx
  main-site/pages/worldguard.tsx
  package.json
  paste/package.json
  paste/src/pasteStore.ts
  paste/src/views/ProfileComponent.tsx
  paste/src/views/ReportComponent.tsx
  shared/package.json
  yarn.lock
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

chore: add some basic structured data to tie the pages together
  main-site/next-env.d.ts
  main-site/pages/index.tsx
  paste/next-env.d.ts
  shared/package.json
  shared/src/components/Seo.tsx
  shared/src/components/structured_data.ts
  yarn.lock
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

chore: prefer using username/name data from TeamCity over VCS name
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/src/builds/dummyData.ts
  builds/src/builds/index.ts
  builds/src/builds/types.ts
  builds/src/builds/vcsUsernameMapping.ts
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc

chore(builds): add github links where possible
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/src/builds/vcsUsernameMapping.ts
  builds/src/builds/vcsUsernameMapping.tsx
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc

chore: bump deps
  builds/package.json
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc

chore: bump deps
  .nvmrc
  .yarn/releases/yarn-4.6.0.cjs
  builds/package.json
  eslint.config.js
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  shared/src/hooks/useElementWidth.ts
  yarn.lock
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

chore: bump deps
  builds/package.json
  eslint.config.js
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

chore: add static project logo files
  main-site/public/images/project-logos/craftbook-logo.svg
  main-site/public/images/project-logos/worldedit-logo.svg
  main-site/public/images/project-logos/worldguard-logo.svg
Due: none

feat(main-site): list neoforge as a supported worldedit platform
  main-site/pages/worldedit.tsx
  main-site/src/images/platforms/neoforged-logo.png
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc

chore: update lint plugins
  builds/package.json
  eslint.config.js
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

chore: update other dependencies
  builds/package.json
  golf/next-env.d.ts
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

chore: enable react compiler on builds & paste
  builds/next.config.js
  builds/package.json
  paste/next.config.js
  paste/package.json
  yarn.lock
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

chore: fix typo
  main-site/pages/worldedit.tsx
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc

chore: add listing assets for worldedit
  main-site/public/listing-assets/worldedit/faq-header.png
  main-site/public/listing-assets/worldedit/help-header.png
  main-site/public/listing-assets/worldedit/highlights-header.png
  main-site/public/listing-assets/worldedit/install-header.png
Due: none

chore: add craftbook install header
  main-site/public/listing-assets/craftbook/install-header.png
Due: none

chore: bump yarn
  .yarn/releases/yarn-4.6.0.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  builds/package.json
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

chore: bump deps
  builds/next-env.d.ts
  builds/package.json
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

chore: update fontawesome packages
  builds/package.json
  golf/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc

chore: bump deps
  builds/next-env.d.ts
  builds/next.config.js
  builds/package.json
  builds/pages/_app.tsx
  eslint.config.js
  golf/next-env.d.ts
  golf/next.config.js
  golf/package.json
  golf/pages/_app.tsx
  main-site/next-env.d.ts
  main-site/next.config.js
  main-site/package.json
  main-site/pages/_app.tsx
  package.json
  paste/next-env.d.ts
  paste/next.config.js
  paste/package.json
  paste/pages/_app.tsx
  shared/package.json
  yarn.lock
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

chore: tweak sponsor view to use Activity API
  builds/package.json
  golf/package.json
  main-site/package.json
  package.json
  paste/next-env.d.ts
  paste/package.json
  shared/package.json
  shared/src/components/Sponsors.tsx
  yarn.lock
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

chore: use Activity API for paste reports/profiles
  paste/src/loadPaste.ts
  paste/src/views/ProfileComponent.tsx
  paste/src/views/ReportComponent.tsx
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc

chore: update schematicwebviewer
  golf/package.json
  paste/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc

chore: swap 7.4.x to default WorldEdit branch
  builds/src/project/types.ts
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc

chore: bump deps
  builds/package.json
  golf/package.json
  main-site/package.json
  package.json
  paste/next-env.d.ts
  paste/package.json
  shared/package.json
  yarn.lock
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

fix(golf): fixed auth oddities when signing in from challenge screen
  golf/next-env.d.ts
  golf/pages/golf/[golfId].tsx
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc

feat(builds): make builds commit list cleaner/more feature rich
  builds/package.json
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/src/builds/BuildChangeComments.module.css
  builds/src/builds/BuildChangeComments.tsx
  builds/src/builds/dummyData.ts
  builds/src/builds/index.ts
  builds/src/builds/vcsUsernameMapping.tsx
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc, prettier --parser css --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

chore: bump deps
  .nvmrc
  .yarn/releases/yarn-4.18.0.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  builds/next-env.d.ts
  builds/package.json
  golf/next-env.d.ts
  golf/package.json
  main-site/next-env.d.ts
  main-site/package.json
  package.json
  paste/next-env.d.ts
  paste/package.json
  shared/package.json
  shared/src/components/structured_data.ts
  yarn.lock
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

fix(builds): make octy's giant branch names not break the site layout
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  builds/src/Components.module.css
Due: eslint --cache --config eslint.config.js --fix, prettier --parser typescript --write --config ./.prettierrc, prettier --parser css --write --config ./.prettierrc

chore: bump deps
  yarn.lock
Due: none
