Repository EngineHub/enginehub-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser html --write --config ./.prettierrc.json, prettier --parser css --write --config ./.prettierrc.json, prettier --parser json --write --config ./.prettierrc.json

.lintstagedrc.json:

{
    "*.{ts,tsx}": [
        "prettier --parser typescript --write --config ./.prettierrc.json",
        "tslint --project ./tsconfig.json --config ./tslint.json --fix",
        "git add"
    ],
    "*.html": ["prettier --parser html --write --config ./.prettierrc.json", "git add"],
    "*.css": ["prettier --parser css --write --config ./.prettierrc.json", "git add"],
    "*.json": ["prettier --parser json --write --config ./.prettierrc.json", "git add"]
}

fix: temporarily include next-server until deployment plugin updates
  builds/package.json
  golf/package.json
  paste/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

fix: improve performance of switching branches of projects in builds
  builds/pages/job/[project]/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: update schematicwebviewer for nbt-ts fix
  golf/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

fix: fixed some local links not behaving as local links
  builds/pages/job/[project]/index.tsx
  builds/src/Layout.tsx
  golf/src/Layout.tsx
  main-site/src/components/Layout.tsx
  shared/src/components/Footer.tsx
  shared/src/components/Navbar.tsx
  shared/src/components/Pagination.tsx
  shared/src/components/Sponsors.tsx
  shared/src/utils/LinkProvider.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

feat(sponsor): added mcprohosting to sponsors
  shared/src/components/Sponsors.tsx
  shared/src/images/mcprohosting.svg
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: build sites when shared changes
  .github/workflows/builds_deployer.yml
  .github/workflows/golf_deployer.yml
  .github/workflows/paste_deployer.yml
  builds/package.json
  golf/package.json
  paste/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: make empty sponsor faster than normal ones
  shared/src/components/Sponsors.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore(golf): improve ux of front-page logo
  golf/src/Layout.tsx
  golf/src/components/BrandHeader.tsx
  shared/src/components/Navbar.tsx
  shared/src/components/Sponsors.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix(golf): don't swallow errors
  golf/pages/api/get-golf/[golfId].ts
  golf/pages/api/get-golfs.ts
  golf/pages/api/submit-score.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix(golf): only grab users when necessary
  golf/pages/api/get-golf/[golfId].ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

feat(golf): show the user who uploaded the golf
  golf/pages/api/get-golf/[golfId].ts
  golf/pages/golf/[golfId].tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix(golf): sets in lambda aren't unique
  golf/pages/api/get-golf/[golfId].ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

feat(golf): show both full name and username of uploader
  golf/pages/golf/[golfId].tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix(golf): actually fixed the error
  golf/pages/api/get-golf/[golfId].ts
  golf/src/dynamoDb.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix(golf): fixed leaderboard ordering
  golf/pages/api/get-golf/[golfId].ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

feat(paste): initial work on unstyled profiles
  paste/pages/[id]/index.tsx
  paste/src/views/PasteComponent.tsx
  paste/src/views/ProfileComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Finish styling
  paste/src/views/ProfileComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Fixed a bug with paste handling, and move the icons to actual files
  builds/next-env.d.ts
  paste/next-env.d.ts
  paste/next.config.js
  paste/package.json
  paste/src/views/ProfileComponent.tsx
  shared/src/images/close.png
  shared/src/images/open.png
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

feat(paste): add profile support to the paste site (#9)
  builds/next-env.d.ts
  paste/next-env.d.ts
  paste/next.config.js
  paste/package.json
  paste/pages/[id]/index.tsx
  paste/src/views/PasteComponent.tsx
  paste/src/views/ProfileComponent.tsx
  shared/src/images/close.png
  shared/src/images/open.png
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

[ImgBot] Optimize images
  golf/static/golfball.svg
  main-site/static/fonts/open-sans-v16-latin-600.svg
  main-site/static/fonts/open-sans-v16-latin-regular.svg
  shared/src/images/mcprohosting.svg
Due: none

chore(sponsors): remove showSponsors prop from PageHeader in builds
  builds/pages/_error.tsx
  builds/pages/index.tsx
  builds/pages/job/[project]/index.tsx
  shared/src/components/PageHeader.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore(paste): optimise profile component
  paste/src/views/ProfileComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore(paste): don't show anything below 200ms in paste
  paste/src/views/ProfileComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix(paste): fixed document endpoint content type
  paste/pages/api/documents/[id].ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

feat(paste): added report formatter to pastebin
  paste/pages/[id]/index.tsx
  paste/src/views/ReportComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Use +=
  paste/src/views/ReportComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

feat(paste): added report formatter to pastebin (#11)
  paste/pages/[id]/index.tsx
  paste/src/views/ReportComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: update dependencies
  builds/package.json
  golf/package.json
  main-site/package.json
  main-site/src/pages/404.tsx
  main-site/src/pages/commandbook.tsx
  main-site/src/pages/commandhelper.tsx
  main-site/src/pages/craftbook.tsx
  main-site/src/pages/documentation.tsx
  main-site/src/pages/index.tsx
  main-site/src/pages/worldedit.tsx
  main-site/src/pages/worldguard.tsx
  paste/package.json
  shared/package.json
  shared/src/components/Footer.tsx
  shared/src/components/Sponsors.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

fix: fixed type issue with dependency update
  golf/pages/_error.tsx
  main-site/src/components/Layout.tsx
  shared/src/components/Seo.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix(builds): fixed invalid branches causing errors
  builds/pages/index.tsx
  builds/src/builds/index.ts
  paste/pages/api/paste.ts
  paste/pages/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: improve SEO description of all sites
  builds/pages/index.tsx
  builds/pages/job/[project]/[build]/index.tsx
  builds/pages/job/[project]/index.tsx
  golf/pages/golf/[golfId].tsx
  golf/pages/index.tsx
  golf/pages/submit.tsx
  main-site/src/pages/404.tsx
  paste/src/Layout.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Provide the user with the link more visibly
  paste/pages/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: bump deps
  builds/package.json
  golf/package.json
  golf/pages/api/github-oauth.ts
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

feat(next): switch to inbuilt NextJS CSS support
  builds/next.config.js
  builds/package.json
  builds/pages/_app.js
  builds/src/Layout.tsx
  golf/next.config.js
  golf/pages/_app.js
  golf/src/Layout.tsx
  paste/next.config.js
  paste/package.json
  paste/pages/_app.js
  paste/src/Layout.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

Provide the user with the link more visibly (#12)
  paste/pages/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix(paste): include the last report section
  paste/src/views/ReportComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore(builds): fixed missing typescript entry
  builds/package.json
Due: prettier --parser json --write --config ./.prettierrc.json

fix(builds): split out builds tsconfig for zeit now testing
  builds/tsconfig.json
Due: prettier --parser json --write --config ./.prettierrc.json

Revert "fix(builds): split out builds tsconfig for zeit now testing"
  builds/tsconfig.json
Due: prettier --parser json --write --config ./.prettierrc.json

fix(main): update issue tracker links
  main-site/src/pages/commandbook.tsx
  main-site/src/pages/commandhelper.tsx
  main-site/src/pages/craftbook.tsx
  main-site/src/pages/worldedit.tsx
  main-site/src/pages/worldguard.tsx
  shared/src/components/Footer.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix
