Repository EngineHub/enginehub-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser html --write --config ./.prettierrc.json, prettier --parser css --write --config ./.prettierrc.json, prettier --parser json --write --config ./.prettierrc.json

feat(paste): add info bar with download button to schematic pastes
  paste/pages/[id]/index.tsx
  paste/src/views/SchematicComponent.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: version/7.2.x is a pinned WE branch
  builds/pages/job/[project]/index.tsx
  builds/src/project/types.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: add FUNDING.yml
  .github/FUNDING.yml
Due: none

chore: bump dependencies and use node14 on GAE
  builds/app.yaml
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/app.yaml
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

fix(builds): parseInt returns NaN not undefined
  builds/pages/job/[project]/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix(main-site): fixed typo in worldedit meta description
  main-site/src/pages/worldedit.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore(paste): allow 10 minutes for uploads to complete
  paste/src/pasteStore.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix: fixed sponsor bar loading on each render
  shared/src/components/Sponsors.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: bump dependencies
  builds/package.json
  golf/package.json
  main-site/gatsby-config.js
  main-site/package.json
  main-site/src/components/Landing.tsx
  main-site/src/components/PlatformBanner.tsx
  main-site/src/components/sidebar/SidebarIcon.tsx
  main-site/src/pages/404.tsx
  main-site/src/pages/commandbook.tsx
  main-site/src/pages/commandhelper.tsx
  main-site/src/pages/craftbook.tsx
  main-site/src/pages/documentation.tsx
  main-site/src/pages/index.tsx
  main-site/src/pages/worldedit.tsx
  main-site/src/pages/worldguard.tsx
  package.json
  paste/package.json
  shared/package.json
  shared/src/components/AlignedContent.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: bump schematicwebviewer version
  builds/package.json
  golf/package.json
  paste/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: bump deps for schematicwebviewer performance fix
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: bump schematicwebviewer dependency for loader fix
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: bump gatsby to 3.0
  builds/package.json
  golf/package.json
  main-site/package.json
  package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

fix(paste): fixed dragging schematics into paste not base64 encoding
  paste/package.json
  paste/pages/index.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: bump nvmrc to node 14 to fix netlify build
  .nvmrc
Due: none

fix(builds): fixed not passing in project extras
  builds/pages/job/[project]/index.tsx
  shared/src/components/Sponsors.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: bump dependencies
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: bump deps
  builds/next.config.js
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/next.config.js
  paste/package.json
  shared/index.js
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

Revert "chore: bump deps"
  builds/next.config.js
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/next.config.js
  paste/package.json
  shared/index.js
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: update some URLs
  shared/src/components/Footer.tsx
  shared/src/components/Sponsors.tsx
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Revert "Revert "chore: bump deps""
  builds/next.config.js
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/next.config.js
  paste/package.json
  shared/index.js
  shared/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

fix(build): drop back the transpiler version
  builds/next.config.js
  builds/package.json
  paste/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: bump dependencies
  builds/package.json
  golf/package.json
  golf/src/components/Schematic.tsx
  paste/package.json
  paste/src/views/SchematicComponent.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

chore: bump deps
  golf/package.json
  paste/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

chore: Default WorldEdit to version branch, not master
  builds/src/project/types.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: Default WorldEdit to version branch, not master (#31)
  builds/src/project/types.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

fix(builds): Don't remap TC default branch name.
  builds/src/builds/index.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: bump versions
  .vscode/extensions.json
  builds/next-env.d.ts
  builds/next.config.js
  builds/package.json
  golf/package.json
  main-site/package.json
  paste/next.config.js
  paste/package.json
  shared/package.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc.json

Start vercel test
  builds/next.config.js
  paste/next.config.js
Due: none

Test if ntm works on vercel
  builds/next.config.js
  builds/package.json
  paste/next.config.js
  paste/package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc.json

Invert the two plugins
  builds/next.config.js
Due: none

Try this
  .npmignore
Due: none

Push to quickly trigger new build because vercel is dumb and deletes new projects
  .github/workflows/builds_deployer.yml
  .github/workflows/paste_deployer.yml
  .npmignore
Due: none

Guess it makes sense to actually reference the stuff right
  paste/next-env.d.ts
  paste/src/views/ProfileComponent.tsx
  paste/src/views/ReportComponent.tsx
  paste/src/views/images/close.png
  paste/src/views/images/open.png
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

see creds
  paste/src/pasteStore.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Use the provided creds
  paste/src/pasteStore.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

smh it's base64 encoded
  paste/src/pasteStore.ts
Due: prettier --parser typescript --write --config ./.prettierrc.json, tslint --project ./tsconfig.json --config ./tslint.json --fix

Update paste cors to include vercel test URL
  paste/.gcloudignore
  paste/app.yaml
  paste/cors.json
Due: prettier --parser json --write --config ./.prettierrc.json

Path conditions:
  prettier --parser typescript --write --config ./.prettierrc.json: any of: *.{ts,tsx}
  tslint --project ./tsconfig.json --config ./tslint.json --fix: any of: *.{ts,tsx}
  prettier --parser html --write --config ./.prettierrc.json: any of: *.html
  prettier --parser css --write --config ./.prettierrc.json: any of: *.css
  prettier --parser json --write --config ./.prettierrc.json: any of: *.json
